/******GENERAL******/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

Body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;  
    margin: 0;
}
h1, h2, h3
{
    font-weight: bold;
    margin: 0;
}
h4
{
    padding: 1em 0 1em 1em;
    margin:0;
    font-weight: bold;
}
a
{
    color: inherit;
    text-decoration: none;
}
p
{
    margin:0;
    padding: 8px 0 8px 0;
}
li
{
    padding: 0 0 1em 0;
}
.FiltresIconColor, .checked
{
    color: #0065FC;
}
.unchecked
{
    color:#F2F2F2;
}
/*****Header*****/
.header
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}
.headerlogo
{
    margin: 0 0 3em 0;
    padding: 1em 0 0 0;
}
.h1
{
    font-size: 1em;
    font-weight: Bold;
}
.nav
{
    display: flex;
    color: black;
    margin: 1em 0 3em 0;
}
.navbar
{
    display: flex;
    align-items: center;
}
.navlink
{
    margin-right: 2em;
    padding: 2em 0 0 0;
    height: 100%;  
}
.navlink:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    box-sizing: content-box;
}
.navlinkactive
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin: 0 5em 0 0;
    padding: 1.8em 0 0 0;
    height: 100%;
}
.signup
{
    padding: 2em 0 0 3em;
    color: #0065FC;
    font-weight: bold;
    height: 100%;
}
.headersubtitles, .headersearchtitle
{
    font-size: 1.3em;
}

/*****Search*****/
.search
{
    margin: 0 1em 0 1em;
}
.Headersearch
{
    display: inline-flex; 
    margin-top: 2em;
    height: 3.5em;
}
.localpoint
{
    border-radius: 1em 0 0 1em;
    padding: 1em;
    font-size: 1.1em;
    background-color: #F2F2F2;
}
.searchcase
{
    display: flex;
    width:250px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
}
.searchcasetxt
{
    font-size: 1.1em;
    padding-left: 1.5em;
    border: 0;
}
.searchcasetxt::placeholder
{
    color: black;
    font-weight: bold;
}
.searchbutton
{
    background-color: #0065FC;
    font-weight: bold;
    border: 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    color: white;
    font-size: 1.1em;
    padding: 0 2em 0 2em;
}
.loupe
{
    display: none;
}
.filtres
{
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-size: 1.1em;
}
.filtresicon
{
    display: flex;
    height: 3em;
    width: 3em;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #DEEBFF;
    margin: -2px 10px -2px -2px;
}
.Searchfiltrescase
{ 
    display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}
.Searchfiltrescase:hover
{
    background-color: #DEEBFF;
}
.filtertitle
{
    font-size: 1.3em;
    font-weight: bold;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.infoicon
{
    display: flex;
    height: 1em;
    width: 1em;
    border: 2px solid #F2F2F2;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin: 2em 1em 2em 1em;
    padding:2px;  
}
.infotext
{
    font-size: 1.1em;
}
/*****HOSTING*****/
.main
{
    display:flex;
    align-content: center;
    margin: 0 1em 0 1em;
}
#hosting
{
    display:flex;
    flex-wrap: wrap;
    border-radius:1.5em;
    background-color: #F2F2F2;
    padding: 0 0 2em 0;
}
.hostingtitle
{
    padding: 3em 0 0 2em;
}
.hostingsubtitle
{
    padding: 1em 0 0 1.5em;
    font-size: 1.2em;
}
.hostingcontainer
{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.hostingcards
{
    background: white;
    border-radius: 1.5em;
    height: 240px;
    width: 275px;
    margin: 1em;
    box-shadow: 0 0 16px #0000002e;
    padding: 3px;
}
.hostingimg
{
    width: 275px;
    height: 150px;
    border-radius: 1.5em 1.5em 0 0;
    border: 3px solid white;
    box-sizing: border-box;
    object-fit: cover;
}
.hostingcardtext
{
    margin-left: 5px;
}
/*****Pupolarity*****/
.Popularity
{
    background-color: #F2F2F2;
    border-radius: 1.5em;
    margin-left: 3em;
    
}
.poptitle
{
    display: flex;
    justify-content: space-between;
    padding: 2.3em 1em 1.5em 1em;
}
.popcontainer
{
    display: flex;
    flex-direction: column;
    padding: 0 1.5em 0 1.5em;
    border-radius: 35px;
    background-color: #F2F2F2;
}
.popcards
{
    display: flex;
    align-items: center;
    width: 370px;
    height: 180px;
    background-color: white;
    border-radius: 1.5em;  
    box-shadow: 0 0 16px #0000002e;   
    margin-bottom: 2.5em;
}
.popimg
{
    width: 160px;
    height: 170px;
    border-radius: 1.5em 0 0px 1.5em;;
    padding-left: 5px;
    border: 3px solid white;
    box-sizing: border-box;
    object-fit: cover;
}
.popcardtext
{
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
}
.popwhitespace
{
    height: 3.5em;
    background-color: white;
}
/*****Activity*****/

#activity
{
    height: 600px;
    margin: 0 1em 0 1em;
    font-weight: bold;
}
.activitytitlecontent
{
    font-size: 1.5em;
    margin:2em 0 2em 0;
}
.activitycontainer
{
    display: flex;
    justify-content: space-between;   
}
.activitycardxl
{
    width: 300px;
    height: 500px;
    box-shadow: 0 0 16px #0000002e; 
    border-radius: 2em;
}
.activitycard
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}
.activitycard60
{
    width: 300px;
    height: 280px;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0 0 16px #0000002e; 
    
}
.activitycard40
{
    width: 300px;
    height: 35%;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0 0 16px #0000002e; 
}
.activitycard50
{
    width: 300px;
    max-height: 45%;
    border-radius: 2em;
    box-shadow: 0 0 16px #0000002e; 
}
.activityimg
{
    height: 440px;
    width: 100%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}
.activityimg60
{   
    width: 100%;
    max-height: 80%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}
.activityimg50
{
    width: 100%;
    max-height: 75%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}
.activityimg40
{
    width: 100%;
    max-height: 65%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}
.activitycardtitle
{
 padding-bottom: 1em;
}
/*****Footer*****/
footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    max-width: 100%;
    margin: 3em 0 0 0;
}
.Footerlink
{
    display:flex;
    flex-direction: column;
    padding: 3em 16em 3em 1em;
}
.footertext
{
    list-style-type: none;
    padding: 1em 0 0 0;
}
/*****MEDIA*****/
@media screen and (max-width: 1280px)
{
    header
    {
        margin: 0;
    }
    .main
    {
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
    }
    #hosting
    {
        width: 100%;
        background-color: white;
    }
    .hostingcontainer
    {
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .Popularity
    {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .popcontainer
    {
        flex-direction: row;
        padding: 0;
        height: 250px;
    }
    .popcards
    {
        width: auto;
        padding:0;
        margin:0 1em 0 1em;
    }
    .popwhitespace
    {
        height:0;
    }
    #activity
    {
        height: auto;
    }
    .activitycontainer
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .activitycardxl
    {
        margin: 0 8em 2em 0 ;
    }
    .Footerlink
    {
        padding: 2em 10em 0 0;
    }
}
@media screen and (max-width: 768px)
{
    .Headersearch
    {
        margin-left: 17%;
    }
    .filtres
    {
        flex-wrap: wrap;
    }
    .Searchfiltrescase
    {
        margin-bottom: 1em;
    }
    .Popularity, .popcontainer
    {
        flex-direction: column;
        height:750px;
        border-radius: 0;
        display: inline;
    }
    .popcards
    {
        width: 450px;
        margin: 0 0 2em 25%;
    }
    .hostingcontainer
    {
        margin-top: 2em;
    }
    .Footerlink
    {
        padding: 2em;
    }
}
@media screen and (max-width: 601px)
{
    .headerlogo
    {
        margin: 0 0 0 1em;
        padding:2em 0 0 0;
    }
    .header
    {
        margin: 0;
        display: block;
    }
    .signup
    {
        position: absolute;
        top: 1em;
        right:1em;
        height:auto;
    }
    .nav
    {
        width:100%;
        margin: 0 0 2em 0;
        padding: 0;
        height:auto;
    }
    .navbar
    {
        width: 100%;
        text-align: center;
    }
    .navlink
    {
        width: 100%;
        border-bottom: 2px solid #f2f2f2;
        padding: 1em 0 1em 0;
        border-top: 0;
        margin:0;
        height:auto;
    }
    .navlinkactive
    {
        width: 100%;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding: 1em 0 1em 0;
        border-top: 0;
        margin:0;
        height:auto;
    }
    .navlink:hover
    {
        width: 100%;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: 0;
    }
    .headersearchtitle, .headersubtitles, .infotext
    {
        font-size: 1em;
        margin: 1em 0 1em 0;
    }
    .filtres
    {
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0 1em 0;
        font-size: 1em;
        font-weight: bold;
    }
    .filtertitle 
    {
        width: 100%;
        font-size: 1.4em;
        margin: 0 0 1em 0;
    }
    .infoicon
    {
        margin:0 1em 0 0;
        padding: 3px 6px 3px 6px;
        border-radius: 50%;
    }
    .Searchfiltrescase
    {
        margin: 0;
        margin-bottom: 10px;
    }
    .Headersearch
    {
        width:100%;
        margin: 0;
    }
    .searchcase
    {
        width: 250px;
    }
    .submitsearch
    {
        display:none;
    }
    .searchbutton
    {
        background-color: #0065FC;
        font-size: 1em;
        border-radius: 1em;
        padding: 0 1em 0 1em;
        margin-left: -1.1em;
        width: 3.5em;
    }
    .loupe
    {
        display: block;
    }
    .main{
        margin: 0;
    }
    .Popularity
    {
        flex-direction: column;
        align-content: center;
        margin:0;
        padding:0;
    }
    .popcontainer
    {
        flex-direction: column;
        align-content: center;
    }
    .popcards
    {
        width:340px;
        margin: 0 1em 2em 1em;
    }
    .popwhitespace
    {
        height: 2em;
    }
    .hostingtitle
    {
        padding-left: 1em;
    }
    .hostingcards,  .hostingimg
    {
        width: 340px;
    }
    #activity
    {
        height: 100%;
        margin: 0;
    }
    .activitytitlecontent
    {
        margin: 0 0 0 1em;
    }
    .activitycard
    {
        height: 500px;
        width: 340px;
        margin: 1.5em 1em 1.5em 1em;
    }
    .activitycardxl
    {
       height: 220px;
       width:340px;
       margin: 1.5em 1em 1.5em 1em;
    }
    .activitycard60, .activitycard50, .activitycard40
    {
        height: 220px;
        width: 340px;
        margin: 1em 0 1em 0;
    }
     .activityimg, .activityimg60, .activityimg50, .activityimg40
    {
        height: 150px;
        width: 340px;
        margin: 0;
    }   
    footer
    {
        display: block;
        margin-top: 0;
    }
    .Footerlink
    {
        padding:0;
        margin-left: 1em;
    }
}