/*****CSS-INDEX*****/
/*****GENERAL*****/
/*****HEADER*****/
/*****SEARCH*****/
/*****HOSTING*****/
/*****POPULARITY*****/
/*****ACTIVITY*****/
/*****FOOTER*****/
/*****MEDIA*****/


/******GENERAL******/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

Body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;  
    margin: 0;
}
h1, h2, h3
{
    font-weight: bold;
    margin: 0;
}
h4
{
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
}
a
{
    color: inherit;
    text-decoration: none;
}
.FiltresIconColor, .checked
{
    color: #0065FC;
}
.unchecked
{
    color:#F2F2F2;
}
/*****Header*****/
.header
{
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}
.headerlogo
{
    margin: 0 0 3em 0;
    padding: 1em 0 0 0;
}
.h1
{
    font-size: 1em;
    font-weight: Bold;
}
.nav
{
    display: flex;
    color: black;
    margin: 0 0 3em 0;
}
.navbar
{
    display: flex;
    align-items: center;
}
.navlink
{
    margin-right: 2em;
    padding: 2em 0 0 0;
    
}
.navlink:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.navlinkactive
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin: 0 5em 0 0;
    padding: 2em 0 0 0;
}
.signup
{
    padding: 2em 0 0 3em;
    color: #0065FC;
    font-weight: bold;
}
.headersubtitles, .headersearchtitle
{
    font-size: 1.3em;
}
/*****Search*****/
.search
{
    margin: 0 1em 0 1em;
}
.Headersearch
{
    display: inline-flex; 
    margin-top: 2em;
    height: 3.5em;
}
.localpoint
{
    border-radius: 1em 0 0 1em;
    padding: 1em;
    font-size: 1.1em;
    background-color: #F2F2F2;
}
.searchcase
{
    display: flex;
    width:280px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
}
.searchcasetxt
{
    color: black;
    font-size: 1.1em;
    padding-left: 1.5em;
    border: 0;
}
.searchbutton
{
    background-color: #0065FC;
    font-weight: bold;
    border: 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    color: white;
    font-size: 1.1em;
    padding: 0 2em 0 2em;
}
.loupe
{
    display: none;
}
.filtres
{
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-size: 1.1em;
}
.filtresicon
{
    display: flex;
    height: 3em;
    width: 3em;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #DEEBFF;
    margin: -2px;
    margin-right: 10px;
}
.Searchfiltrescase
{ 
    display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 2em;
    text-align: center;
    align-items: center;
    padding-right: 1em;
    margin-left: 2.5em;
    font-weight: bold;
}
.Searchfiltrescase:hover
{
    background-color: #DEEBFF;
}
.filtertitle
{
    font-size: 1em;
    font-weight: bold;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.infoicon
{
    display: flex;
    height: 1em;
    width: 1em;
    border: 2px solid #F2F2F2;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin: 1em;
    padding:2px;  
}
.infotext
{
    font-size: 1.1em;
}
/*****HOSTING*****/
.main
{
    display:flex;
    align-content: center;
    margin: 0 1em 0 1em;
}
.hosting
{
    display:flex;
    flex-wrap: wrap;
    max-width: 70%;
    border-radius:2em;
    background-color: #F2F2F2;
    padding: 0 0 2em 0;
}
.hostingtitle
{
    padding: 3em 0 0 2em;
}
.hostingsubtitle
{
    padding: 1em 0 0 2em;
    font-size: 1.2em;
}
.hostingcontainer
{
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.hostingcards
{
    background: white;
    border-radius: 35px;
    height: 240px;
    width: 270px;
    margin: 1em;
    box-shadow: 0 0 16px #0000002e;
    padding: 3px;
}
.hostingimg
{
    width: 270px;
    height: 120px;
    border-radius: 30px 30px 0 0;
    border: 3px solid white;
    box-sizing: border-box;
    object-fit: cover;
}
/*****Pupolarity*****/
.Popularity
{
    background-color: #F2F2F2;
    border-radius: 30px;
    margin-left: 3em;
    
}
.poptitle
{
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0 1.2em 1em;
}
.popcontainer
{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    border-radius: 35px;
    background-color: #F2F2F2;
}
.popcards
{
    display: flex;
    align-items: center;
    width: 370px;
    height: 180px;
    background-color: white;
    border-radius: 2em;  
    box-shadow: 0 0 16px #0000002e;   
    margin-bottom: 3em;
}
.popimg
{
    width: 160px;
    height: 170px;
    border-radius: 30px 0 0px 30px;;
    padding-left: 5px;
    border: 3px solid white;
    box-sizing: border-box;
    object-fit: cover;
}
.popcardtext
{
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
}
.popwhitespace
{
    height: 40px;
    background-color: white;
}
/*****Activity*****/
.activity
{
    margin: 0 1em 0 1em;
}
.activitytitlecontent
{
    margin-bottom: 2em;
}
.activitytitle
{
    margin-bottom: 5px;
}
.activitycontainer
{
    max-width: 1440px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    
}
.activitycard1, .activitycard3
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 16px #0000002e; 
    border-radius: 30px;
    background-color: white;
}
.activitycard2
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e; 
    margin-bottom: 40px;
}
.activitycard4
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e; 
    margin-bottom: 30px;
}
.activityimg
{
    height: 460px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}
.activityimg60
{   
    width: 100%;
    height: 220px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}
.activityimg40
{
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;  
}
.activityimg50
{
    width: 100%;
    height: 190px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}
.activitydesc
{
    margin-left: 1em;
}
/*****Footer*****/
footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    max-width: 100%;
    margin-top: 50px;
}
.Footerlink
{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 1em;
}
.footertext
{
    margin-top: 5px;
}
/*****MEDIA*****/
@media screen and (max-width: 1260px)
{
    header
    {
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
    .headerlogo
    {
        height: 50px;
    }
    .headersignup
    {
        position: absolute;
        top:1em;
        right:0;
    }
    .filtres
    {
        flex-wrap: wrap;
    }
    .main
    {
        width: 100%;
        flex-direction: column-reverse;
    }
    .hosting
    {
        width: 100%;
        background-color: white;
    }
    .hostingcontainer
    {
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .Popularity
    {
        max-width: 100%;
        border-radius: 0;
    }
    .popcontainer
    {
        flex-direction: row;
        height:auto;
        width: 100%;
        margin:0;
        padding: 0;
    }
    .popcards
    {
        padding:0;
        margin:0;
    }
    .activity
    {
        width: 100%;
        flex-direction: column;
        align-content: center;
        margin: auto;
    }
    .activitycontainer
    {
        align-content: center;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
    }
    .footer
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
@media screen and (max-width: 768px)
{
    .headerlogo
    {
        margin: 0 0 0 1em;
        padding:0;
    }
    .header
    {
        margin: 0;
        align-content: center;
    }
    .signup
    {
        position: absolute;
        top: 0;
        right:1em;
    }
    nav
    {
        justify-content: center;
        width:100%;
        border-bottom: 2px solid #F2F2F2;
        margin: 0;
        margin-bottom: 2em;
    }
    .navbar
    {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .navlink
    {
        width: 100%;
        border-bottom: 2px solid #f2f2f2;
        padding: 2em 0 1em 0;
        border-top: 0;
        margin:0;
    }
    .navlinkactive
    {
        width: 100%;
        color: #0065FC;
        border-bottom: 4px solid #0065FC;
        padding: 2em 0 1em 0;
        border-top: 0;
        margin:0;
    }
    .navlink:hover
    {
        width: 100%;
        color: #0065FC;
        border-bottom: 4px solid #0065FC;
        padding-top: 2em;
        border-top: 0;
    }
    .filtres
    {
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0 1em 0;
    }
    .filtertitle 
    {
        width: 100%;
        margin: 0 0 1em 0;
    }
    .infoicon
    {
        margin:0 1em 0 0;
        padding: 3px 6px 3px 6px;
        border-radius: 50%;
    }
    .Searchfiltrescase
    {
        margin: 0;
        margin-bottom: 10px;
    }
    .Headersearch
    {
        width:100%;
    }
    .submitsearch
    {
        display:none;
    }
    .searchbutton
    {
    background-color: #0065FC;
    font-size: 1rem;
    border-radius: 1em;
    padding: 0 1em 0 1em;
    margin-left: -1.1em;
    }
    .loupe
    {
        display:flex;
    }
    .main{
        margin: 0;
    }
    .Popularity
    {
        flex-direction: column;
        align-content: center;
        margin:0;
        padding:0;
    }
    .poptitle
    {
        margin-left: 35px;
    }
    .popcontainer
    {
        flex-direction: column;
        align-content: center;
    }
    .popcards
    {
        width:100%;
        margin: 0 0 2em 0;
    }
    .hosting
    {
    width: 100%;
    }
    .hostingcontainer
    {
        width: 100%;
        height:100%;
    }
    .hostingcards
    {
        width: 100%;
        margin: 0;
    }
    .hostingimg
    {
        width:100%;
    }
    .activity
    {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .activitytitlecontent
    {
        margin-left: 20px;
    }
    .activityimg
    {
        width:340px;
        height: 240px;
    }
    .activitycontainer
    {
    }
    .activitycard1, .activitycard2, .activitycard3, .activitycard4
    {
       height: 240px;
       width:340px;
       margin-bottom: 4.5em;
       background: white;
       border-radius: 30px;
    }
     .activityimg, .activityimg60, .activityimg50, .activityimg40
    {
        height: 200px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        object-fit: cover;
    }   
    footer
    {
        display: block;
        margin-top: 0;
    }
    .Footerlink
    {
        padding:0;
    }
}